div {
display: flex;
  flex-direction: column; /* Coloca elementos uno debajo de otro */
  align-items: center;    /* Centra horizontalmente */
  justify-content: center;/* Centra verticalmente */
  text-align: center;     /* Centra el texto */
font-family: Arial, Helvetica, sans-serif;
}

/* Logo */
.logo {
  width: 150px;  /* ajusta el tamaño a tu gusto */  
    height: auto;
  margin-bottom: 20px; /* espacio debajo del logo */
}

/* Título principal */
header {
  font-size: 3rem;       /* tamaño grande */
  font-weight: bold;
  color: #22333B;        /* tono oscuro */
  margin-bottom: 10px;   /* espacio debajo del header */
}

/* Texto inferior */
p {
  font-size: 1.2rem;
  color: #555;           /* gris suave */
  margin-top: 0;
}